body{
  box-sizing: border-box;
  margin: 0 auto;
}
.contenido{
  display: flex;
  background-color: #9C3534;
  width: 100%;
  justify-content: center;
  height: 7rem;
}
.menu{
  display: flex;
}
.izquierda{
  display: flex;
  align-items: center;
  margin-right: 15rem;
}
.derecha{
  display: flex;
  align-items: center;
}
.menu a{
  text-decoration: none;
  color: #F5F5F5;
  margin: 2rem;
  font-family: 'Roboto',sans-serif;
}

a:hover{
  color: #c4c4c4;
}
.logo{
  position: absolute;
  margin-right: -4rem
}
.hamburguesa{
  display:none
}
.logo img{
  width: 12rem;
  margin-right: 5em;
}
.btn-hamburguesa{
  display: none;
}

@media (max-width: 803px) {
  .contenido{
    flex-direction: column;
    align-items:center;
    height: 10rem;
  }
  .menu{
    flex-direction: column
  }
  .logo{
    position: relative;
    display: flex;
  }
  .menu{
    position:absolute;
    background:#9C3534;
    margin-top: 22.9rem;
    width: 100%;
    display: none;
  }
  .menu a{
    height: .5rem;
  }
  .izquierda{
    flex-direction: column;
    margin: 0;
  }
  .derecha{
    flex-direction: column;
  }
  .btn-hamburguesa{
    display: inline-block;
    position: absolute;
    margin-left: 30rem;
  }
  .btn-hamburguesa img{
    width: 70px;
  }

  .logo img{
    width: 13rem;
  }
  #expandir{
    display: none;
  }
  #expandir:checked ~.menu {
    display: block;
    margin-top: 28rem;
  }
}

@media (max-width: 550px) {
  .btn-hamburguesa{
    margin-left: 20rem;
  }
  .btn-hamburguesa img{
    width: 60px;
  }

}
@media (max-width: 384px) {
  .btn-hamburguesa{
    margin-left: 15rem;
  }
  .btn-hamburguesa img{
    width: 50px;
  }
  .logo img{
    width: 10rem;
    margin-right: 4rem;
  }
}


/* animaciones */

.animated {
  -webkit-animation-duration: 0.6s;
  animation-duration: 0.6s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
