{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
  <header class="contenido">
    <div class="logo animated fadeIn">
        <div class="l">
          <img src="{% static 'img/logo.png' %}" alt="">
        </div>
    </div>
    <input class="btn-hamburguesa" type="checkbox" id="expandir" />
    <label class="btn-hamburguesa" for="expandir"><img src="{% static 'img/menuH.png' %}" alt="h"></label>
      <div class="menu animated fadeIn">
        <div class="izquierda">
          <a href="#">Inicio</a>
          <a href="#">Sobre nosotros</a>
        </div>
        <div class="derecha">
          <a href="#">Catálogo</a>
          <a href="#">Iniciar sesión</a>
        </div>
      </div>
  </header>
</body>
</html>
