*{
    font-family: 'Roboto',sans-serif;
}

input[type=number] { -moz-appearance:textfield; }
.form-control:focus{
    border: 1px solid #9C3534;
    box-shadow: none;
    background-color: #ffffff;
}

.card{
   
    justify-content:center
}
.card-header{
   padding: 0;
}
.card-header h3{
   margin: 0;
}
.card-body{
    width:80%;
    margin: 3rem auto;
}
.pieForm{
    display:flex;
    justify-content:center;
    width:100%;
}
.botonEnviar{
    align-items:center;
    background-color:#9C3534;
    color:#fff;
    padding:.7rem;
    width:50%;
}
.botonEnviar:hover{
    background-color:#fff;
    color:#9C3534;
    border:1px solid #9C3534;
}


.botonEnviar:focus{
    border: 1px solid #9C3534;
    box-shadow: none;
    background-color: #ffffff;
}




















/* 
.feedback{
    -webkit-box-shadow: 10px 10px 300px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 300px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 300px 0px rgba(37, 37, 37, 0.75);
    border:4px solid #c4c4c4e3;
    
    border-radius: 2rem;
    height: 20rem;
    width: 40rem;
    position: absolute;
    background-color: #c4c4c4e7;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    display: none;
}
.button{
    width: 80%;
} */


